.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.nav-ul {padding: 5px; margin: 0; background-color: skyblue;}
.nav-ul li a{ color: #ffffff; padding: 5px;text-decoration: none;}
.nav-ul li {display: inline-block; padding: 10px; list-style-type: none;} 
.nav-right{text-align: right;}

.inputBox {
  display: block;
  margin: 25px auto;
  padding: 7px;
  width: 300px;
  border: 1px solid skyblue;

}
 .btn-reg{ margin: 25px; padding: 10px;width: 150px; background-color: skyblue;border: 0;}

 .invalid-input{
  color:red;
  margin-top: -20px;
  display: block;
  margin-left: 20px;
 }

 .product-list {padding-bottom: 5%;}

 .product-list ul{
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0;

   }

.product-list ul li{
  border: 1px solid skyblue;
  padding: 8px;
  width: 10%;
  display: inline-block;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/* Footer */

.footer{
   position: fixed;
   bottom: 0;
   text-align: center;
   width: 100%;
   background-color: skyblue;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
